[Unit]
Description=xremap

[Service]
KillMode=process
ExecStart=/usr/local/bin/xremap .xremap
Type=simple
Restart=always

# Update DISPLAY to be the same as `echo $DISPLAY` on your graphical terminal.
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
