deb {{ archive_mirror }} {{ ansible_distribution_release }}-proposed main restricted universe multiverse
# deb-src {{ archive_mirror }} {{ ansible_distribution_release }}-proposed main restricted universe multiverse
