set autoindent
# set cut
set fill 72
# set nohelp
set nowrap
# set quickblank
set smarthome
set smooth
set softwrap
set speller "aspell -x -c"
set suspend
set tabsize 4
set tabstospaces
set whitespace "» "

include "/usr/share/nano/*.nanorc"
