#cloud-config

packages:
  - anacron
  - squid-deb-proxy

write_files:
  - content: |
      ppa.launchpad.net
      ppa.launchpadcontent.net

      esm.ubuntu.com
      snapshot.ubuntu.com
      snapshot.ppa.launchpadcontent.net

      ## apt-add-repository
      launchpad.net
      keyserver.ubuntu.com

      images.maas.io

    owner: root:root
    path: /etc/squid-deb-proxy/mirror-dstdomain.acl.d/50-thirdparty
    permissions: '0644'

runcmd:
  - systemctl mask --now squid
  # multiple backslashes just for Ansible not to convert it to actual line breaks
  - printf '\\\nshutdown_lifetime 3 seconds\\\n' >> /etc/squid-deb-proxy/squid-deb-proxy.conf
