[Unit]
Description=Service for xkeysnail

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/xkeysnail --quiet /etc/xkeysnail/config.py --devices 'AT Translated Set 2 keyboard' 'STMicroelectronics USB Volume Control'
Restart=always
Type=simple
RestartSec=10

[Install]
WantedBy=graphical.target
