# ELAN0678:00 04F3:3195 Touchpad's parent device
KERNEL=="i2c-ELAN0678:00", SUBSYSTEM=="i2c", DRIVERS=="i2c_hid_acpi", ATTR{power/wakeup}="disabled"
# TPPS/2 Elan TrackPoint's parent device already has
# ATTRS{power/wakeup}=="disabled" as follows.
#
#    /devices/platform/i8042/serio1
#
#    KERNELS=="serio1"
#    SUBSYSTEMS=="serio"
#    DRIVERS=="psmouse"
#    ...
#    ATTRS{firmware_id}=="PNP: LEN030b PNP0f13"
#    ...
#    ATTRS{power/wakeup}=="disabled"
#
# However, the TrackPoint still wakes up the laptop from suspend.
# Somehow disabling wakeup events from the sleep button works to stop
# all wakeup events from input devices including the TrackPoint and the
# keyboard.
KERNEL=="PNP0C0E:00", SUBSYSTEM=="acpi", DRIVERS=="button", ATTRS{path}=="\_SB_.SLPB", ATTR{power/wakeup}="disabled"
