# workaround for AMDGPU screen frozen issue
# https://gitlab.freedesktop.org/drm/amd/-/issues/4141
# https://github.com/torvalds/linux/blob/0b3bb205808195159be633a8cefb602670e856fb/drivers/gpu/drm/amd/include/amd_shared.h#L315-L318
# > DC_DISABLE_PSR: (0x10) If set, disable Panel self refresh v1 and PSR-SU
GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT amdgpu.dcdebugmask=0x10"
